In [1]:
url = 'https://www.football-data.co.uk/mmz4281/1920/E0.csv'
url1 = 'https://www.football-data.co.uk/mmz4281/1920/E2.csv'
url2 = 'https://www.football-data.co.uk/mmz4281/0203/E1.csv'

In [1]:
import requests
import pandas as pd
from io import StringIO

In [3]:
response = requests.get(url)
data = StringIO(response.text)
df = pd.read_csv(data)

In [4]:
response1 = requests.get(url1)
data1 = StringIO(response1.text)
df1 = pd.read_csv(data1)

In [5]:
response2 = requests.get(url2)
data2 = StringIO(response2.text)
#df2 = pd.read_csv(data2)

In [6]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Columns: 106 entries, Div to AvgCAHA
dtypes: float64(82), int64(16), object(8)
memory usage: 314.8+ KB

In [8]:
df.describe

<bound method NDFrame.describe of     Div        Date   Time        HomeTeam          AwayTeam  FTHG  FTAG FTR  \
0    E0  09/08/2019  20:00       Liverpool           Norwich     4     1   H
1    E0  10/08/2019  12:30        West Ham          Man City     0     5   A
2    E0  10/08/2019  15:00     Bournemouth  Sheffield United     1     1   D
3    E0  10/08/2019  15:00         Burnley       Southampton     3     0   H
4    E0  10/08/2019  15:00  Crystal Palace           Everton     0     0   D
..   ..         ...    ...             ...               ...   ...   ...  ..
375  E0  26/07/2020  16:00       Leicester        Man United     0     2   A
376  E0  26/07/2020  16:00        Man City           Norwich     5     0   H
377  E0  26/07/2020  16:00       Newcastle         Liverpool     1     3   A
378  E0  26/07/2020  16:00     Southampton  Sheffield United     3     1   H
379  E0  26/07/2020  16:00        West Ham       Aston Villa     1     1   D

     HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
0       4     0  ...     3.43 -2.25      1.91      1.99   1.94   1.98
1       0     1  ...     2.91  1.75      1.95      1.95   1.96   1.97
2       0     0  ...     1.92 -0.50      1.95      1.95   1.98   1.95
3       0     0  ...     1.71  0.00      1.87      2.03   1.89   2.03
4       0     0  ...     1.71  0.25      1.82      2.08   1.97   1.96
..    ...   ...  ...      ...   ...       ...       ...    ...    ...
375     0     0  ...     2.03  0.50      1.89      2.01   1.88   2.05
376     2     0  ...     5.77 -3.75      2.03      1.87   2.01   1.88
377     1     1  ...     2.40  1.00      1.94      1.96   1.95   1.97
378     0     1  ...     2.01 -0.50      1.97      1.93   2.00   1.93
379     0     0  ...     2.03  0.00      1.93      1.97   1.95   1.98

     MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
0       1.99     2.07     1.90     1.99
1       2.07     1.98     1.97     1.92
2       2.00     1.96     1.96     1.92
3       1.90     2.07     1.86     2.02
4       2.03     2.08     1.96     1.93
..       ...      ...      ...      ...
375     1.94     2.05     1.86     2.02
376     2.06     1.88     2.02     1.84
377     2.03     2.00     1.95     1.92
378     2.03     1.96     1.98     1.89
379     1.99     2.00     1.93     1.95

[380 rows x 106 columns]>

In [9]:
df.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)

In [10]:
df.to_csv('E0.csv', index = False)

In [11]:
df1.to_csv('E2.csv', index = False)

In [12]:
import os
import pandas as pd
import requests

In [13]:
# download data from source 
def download_data(url, staging_dir):
    #os.makedirs(staging_dir, exist_ok=True)
    
    file_name = url.split('/')[-1]
    file_path = os.path.join(staging_dir, file_name)

    response = requests.get(url)
    if response.status_code == 200:
        with open(file_path, 'wb') as file:
            file.write(response.content)
        print(f"Downloaded data from {url} to {file_path}")
        return file_path
    else:
        print(f"Failed to download data from {url}")
        return None

def download_all_data(urls, staging_dir):
    for url in urls:
        download_data(url, staging_dir)

In [14]:
urls = [
        "https://www.football-data.co.uk/mmz4281/1920/E0.csv",
        "https://www.football-data.co.uk/mmz4281/1920/E2.csv",
        "https://www.football-data.co.uk/mmz4281/1920/E1.csv"
    ]
staging_dir = "./staging_dir/raw_data"

In [15]:
# download data
download_all_data(urls, staging_dir)

Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E0.csv to ./staging_dir/raw_data\E0.csv
Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E2.csv to ./staging_dir/raw_data\E2.csv
Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E1.csv to ./staging_dir/raw_data\E1.csv

In [16]:
E0_df = pd.read_csv(r'./staging_dir/raw_data/E0.csv')
E0_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93

In [17]:
E0_extracted = E0_df[['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam' , 'FTHG', 'FTAG']]

In [18]:
E0_extracted.head()

  Div        Date   Time        HomeTeam          AwayTeam  FTHG  FTAG
0  E0  09/08/2019  20:00       Liverpool           Norwich     4     1
1  E0  10/08/2019  12:30        West Ham          Man City     0     5
2  E0  10/08/2019  15:00     Bournemouth  Sheffield United     1     1
3  E0  10/08/2019  15:00         Burnley       Southampton     3     0
4  E0  10/08/2019  15:00  Crystal Palace           Everton     0     0

In [19]:
E0_extracted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       380 non-null    object
 1   Date      380 non-null    object
 2   Time      380 non-null    object
 3   HomeTeam  380 non-null    object
 4   AwayTeam  380 non-null    object
 5   FTHG      380 non-null    int64
 6   FTAG      380 non-null    int64
dtypes: int64(2), object(5)
memory usage: 20.9+ KB

In [20]:
E1_df = pd.read_csv('./staging_dir/raw_data/E1.csv')
E1_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E1,02/08/2019,19:45,Luton,Middlesbrough,3,3,D,2,2,...,1.79,-0.25,1.94,1.96,1.96,1.96,1.98,1.98,1.94,1.93
1,E1,03/08/2019,15:00,Barnsley,Fulham,1,0,H,1,0,...,2.13,0.25,2.04,1.86,2.05,1.87,2.07,1.88,2.02,1.84
2,E1,03/08/2019,15:00,Blackburn,Charlton,1,2,A,0,1,...,1.84,-0.75,1.88,2.02,1.91,2.01,1.94,2.02,1.89,1.98
3,E1,03/08/2019,15:00,Brentford,Birmingham,0,1,A,0,1,...,1.93,-0.50,2.00,1.90,2.01,1.91,2.01,1.96,1.96,1.90
4,E1,03/08/2019,15:00,Millwall,Preston,1,0,H,1,0,...,1.66,-0.25,2.11,1.79,2.12,1.81,2.13,1.87,2.08,1.80

In [21]:
E1_extracted = E1_df[['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam' , 'FTHG', 'FTAG']]

In [22]:
E1_extracted.head()

  Div        Date   Time   HomeTeam       AwayTeam  FTHG  FTAG
0  E1  02/08/2019  19:45      Luton  Middlesbrough     3     3
1  E1  03/08/2019  15:00   Barnsley         Fulham     1     0
2  E1  03/08/2019  15:00  Blackburn       Charlton     1     2
3  E1  03/08/2019  15:00  Brentford     Birmingham     0     1
4  E1  03/08/2019  15:00   Millwall        Preston     1     0

In [23]:
E1_extracted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       552 non-null    object
 1   Date      552 non-null    object
 2   Time      552 non-null    object
 3   HomeTeam  552 non-null    object
 4   AwayTeam  552 non-null    object
 5   FTHG      552 non-null    int64
 6   FTAG      552 non-null    int64
dtypes: int64(2), object(5)
memory usage: 30.3+ KB

In [24]:
E2_df = pd.read_csv(r'./staging_dir/raw_data/E2.csv')
E2_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,03/08/2019,15:00,AFC Wimbledon,Rotherham,1,2,A,0,1,...,1.72,0.25,1.88,1.98,1.84,2.06,1.95,2.04,1.88,1.96
1,E2,03/08/2019,15:00,Blackpool,Bristol Rvs,2,0,H,1,0,...,1.65,-0.50,2.02,1.83,2.06,1.84,2.09,1.87,2.03,1.82
2,E2,03/08/2019,15:00,Burton,Ipswich,0,1,A,0,1,...,1.69,-0.25,1.75,2.13,1.78,2.13,1.83,2.19,1.76,2.09
3,E2,03/08/2019,15:00,Coventry,Southend,1,0,H,0,0,...,1.81,-0.25,1.85,1.95,1.84,2.06,1.85,2.26,1.77,2.08
4,E2,03/08/2019,15:00,Doncaster,Gillingham,1,1,D,1,1,...,1.94,-0.50,1.93,1.93,1.96,1.94,1.97,1.96,1.92,1.91

In [25]:
E2_extracted = E2_df[['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam' , 'FTHG', 'FTAG']]

In [26]:
E2_extracted.head()

  Div        Date   Time       HomeTeam     AwayTeam  FTHG  FTAG
0  E2  03/08/2019  15:00  AFC Wimbledon    Rotherham     1     2
1  E2  03/08/2019  15:00      Blackpool  Bristol Rvs     2     0
2  E2  03/08/2019  15:00         Burton      Ipswich     0     1
3  E2  03/08/2019  15:00       Coventry     Southend     1     0
4  E2  03/08/2019  15:00      Doncaster   Gillingham     1     1

In [27]:
E2_extracted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       400 non-null    object
 1   Date      400 non-null    object
 2   Time      400 non-null    object
 3   HomeTeam  400 non-null    object
 4   AwayTeam  400 non-null    object
 5   FTHG      400 non-null    int64
 6   FTAG      400 non-null    int64
dtypes: int64(2), object(5)
memory usage: 22.0+ KB

In [28]:
join_df = pd.concat([E0_extracted, E1_extracted, E2_extracted], ignore_index=True)

In [29]:
join_df.head()

  Div        Date   Time        HomeTeam          AwayTeam  FTHG  FTAG
0  E0  09/08/2019  20:00       Liverpool           Norwich     4     1
1  E0  10/08/2019  12:30        West Ham          Man City     0     5
2  E0  10/08/2019  15:00     Bournemouth  Sheffield United     1     1
3  E0  10/08/2019  15:00         Burnley       Southampton     3     0
4  E0  10/08/2019  15:00  Crystal Palace           Everton     0     0

In [30]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       1332 non-null   object
 1   Date      1332 non-null   object
 2   Time      1332 non-null   object
 3   HomeTeam  1332 non-null   object
 4   AwayTeam  1332 non-null   object
 5   FTHG      1332 non-null   int64
 6   FTAG      1332 non-null   int64
dtypes: int64(2), object(5)
memory usage: 73.0+ KB

In [31]:
df = join_df.drop_duplicates()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       1332 non-null   object
 1   Date      1332 non-null   object
 2   Time      1332 non-null   object
 3   HomeTeam  1332 non-null   object
 4   AwayTeam  1332 non-null   object
 5   FTHG      1332 non-null   int64
 6   FTAG      1332 non-null   int64
dtypes: int64(2), object(5)
memory usage: 73.0+ KB

In [33]:
import datetime

In [34]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

In [35]:
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       1332 non-null   object
 1   Date      1332 non-null   datetime64[ns]
 2   Time      1332 non-null   datetime64[ns]
 3   HomeTeam  1332 non-null   object
 4   AwayTeam  1332 non-null   object
 5   FTHG      1332 non-null   int64
 6   FTAG      1332 non-null   int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 73.0+ KB

In [37]:
df.to_csv('./processed_data/transformed_data.csv', index=False)