In [1]:
import requests
import pandas as pd
import os

In [5]:
url = "https://www.football-data.co.uk/mmz4281/1920/E0.csv"
file_path = "./data/raw_data/E0.csv"
response = requests.get(url)
with open(file_path, 'wb') as file:
    file.write(response.content)

In [28]:
import os
import requests

def download_data(url, staging_dir):
    # os.makedirs(staging_dir, exist_ok=True)
    
    file_name = url.split('/')[-1]
    file_path = os.path.join(staging_dir, file_name)

    response = requests.get(url)
    if response.status_code == 200:
        with open(file_path, 'wb') as file:
            file.write(response.content)
        print(f"Downloaded data from {url} to {file_path}")
        return file_path
    else:
        print(f"Failed to download data from {url}")
        return None

def download_all_data(urls, staging_dir):
    file_paths = []

    for url in urls:
        file_path = download_data(url, staging_dir)
        if file_path:
            file_paths.append(file_path)

    return None

In [6]:
urls = [
        "https://www.football-data.co.uk/mmz4281/1920/E0.csv",
        "https://www.football-data.co.uk/mmz4281/1920/E2.csv",
        "https://www.football-data.co.uk/mmz4281/0203/E1.csv"
    ]
staging_dir = "./staging_dir/raw_data"

download_all_data(urls, staging_dir)

Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E0.csv to ./staging_dir/raw_data\E0.csv
Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E2.csv to ./staging_dir/raw_data\E2.csv
Downloaded data from https://www.football-data.co.uk/mmz4281/0203/E1.csv to ./staging_dir/raw_data\E1.csv

In [8]:
import os
import requests

def download_data(url, staging_dir):
    # os.makedirs(staging_dir, exist_ok=True)

    file_name = url.split('/')[-1]

    response = requests.get(url)
    if response.status_code == 200:
        with open(os.path.join(staging_dir, file_name), 'wb') as file:
            file.write(response.content)
        print(f"Downloaded data from {url} to {os.path.join(staging_dir, file_name)}")
        return os.path.join(staging_dir, file_name)
    else:
        print(f"Failed to download data from {url}")
        return None

def download_all_data(urls, staging_dir):
    for url in urls:
        download_data(url, staging_dir)

urls = [
        "https://www.football-data.co.uk/mmz4281/1920/E0.csv",
        "https://www.football-data.co.uk/mmz4281/1920/E2.csv",
        "https://www.football-data.co.uk/mmz4281/0203/E1.csv"
    ]
staging_dir = "./staging_dir/raw_data"

download_all_data(urls, staging_dir)

Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E0.csv to ./staging_dir/raw_data\E0.csv
Downloaded data from https://www.football-data.co.uk/mmz4281/1920/E2.csv to ./staging_dir/raw_data\E2.csv
Downloaded data from https://www.football-data.co.uk/mmz4281/0203/E1.csv to ./staging_dir/raw_data\E1.csv

In [ ]:
import os
import pandas as pd

def download_data(url, staging_dir):
    # os.makedirs(staging_dir, exist_ok=True)
    
    file_name = url.split('/')[-1]
    file_path = f"{staging_dir}/{file_name}"  # Using f-string for constructing the file path
    
    try:
        # Read CSV data from URL into DataFrame with error handling for bad lines
        df = pd.read_csv(url, on_bad_lines='warn')  # Use 'skip' if you want to silently skip bad lines
        # Save DataFrame to CSV
        df.to_csv(file_path, index=False)
        print(f"Downloaded data from {url} to {file_path}")
        return file_path
    except Exception as e:
        print(f"Failed to download data from {url}: {e}")
        return None

def download_all_data(urls, staging_dir):
    for url in urls:
        download_data(url, staging_dir)

urls = [
        "https://www.football-data.co.uk/mmz4281/1920/E0.csv",
        "https://www.football-data.co.uk/mmz4281/1920/E2.csv",
        "https://www.football-data.co.uk/mmz4281/0203/E1.csv"
    ]
staging_dir = "./staging_dir/raw_data"

download_all_data(urls, staging_dir)

In [29]:
df1 = pd.read_csv(r'./staging_dir/raw_data/E1.csv')
df1.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,SBH,SBD,SBA,WHH,WHD,WHA,GB>2.5,GB<2.5,B365>2.5,B365<2.5
0,E1,10/08/02,Burnley,Brighton,1,3,A,0,1,A,...,1.833,3.25,4.0,1.72,3.25,4.2,1.85,1.92,NaN,NaN
1,E1,10/08/02,Coventry,Sheffield United,2,1,H,2,1,H,...,1.800,3.25,4.2,1.72,3.25,4.2,1.80,1.94,NaN,NaN
2,E1,10/08/02,Derby,Reading,3,0,H,0,0,D,...,1.533,3.50,6.0,1.53,3.40,5.5,1.70,1.94,NaN,NaN
3,E1,10/08/02,Leicester,Watford,2,0,H,0,0,D,...,1.800,3.20,4.2,1.72,3.25,4.2,1.70,1.94,NaN,NaN
4,E1,10/08/02,Millwall,Rotherham,0,6,A,0,2,A,...,1.571,3.50,5.5,1.57,3.50,5.0,1.75,1.94,NaN,NaN

In [30]:
df1.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'GBH', 'GBD',
       'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'SOH', 'SOD', 'SOA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'GB>2.5', 'GB<2.5',
       'B365>2.5', 'B365<2.5'],
      dtype='object')

In [31]:
df_extracted = df1[['Div','Date', 'HomeTeam','AwayTeam','FTHG','FTAG']]
df_extracted

    Div      Date        HomeTeam          AwayTeam  FTHG  FTAG
0    E1  10/08/02         Burnley          Brighton     1     3
1    E1  10/08/02        Coventry  Sheffield United     2     1
2    E1  10/08/02           Derby           Reading     3     0
3    E1  10/08/02       Leicester           Watford     2     0
4    E1  10/08/02        Millwall         Rotherham     0     6
..   ..       ...             ...               ...   ...   ...
515  E1  04/05/03  Sheffield Weds           Walsall     2     1
516  E1  04/05/03           Stoke           Reading     1     0
517  E1  04/05/03         Watford  Sheffield United     2     0
518  E1  04/05/03       Wimbledon           Burnley     2     1
519  E1  04/05/03          Wolves         Leicester     1     1

[520 rows x 6 columns]

In [33]:
df_extracted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       520 non-null    object
 1   Date      520 non-null    object
 2   HomeTeam  520 non-null    object
 3   AwayTeam  520 non-null    object
 4   FTHG      520 non-null    int64
 5   FTAG      520 non-null    int64
dtypes: int64(2), object(4)
memory usage: 24.5+ KB

In [34]:
df0 = pd.read_csv(r'./staging_dir/raw_data/E0.csv')
df0.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93

In [35]:

df0_extracted = df0[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG']]
df0_extracted

    Div        Date   Time        HomeTeam          AwayTeam  FTHG  FTAG
0    E0  09/08/2019  20:00       Liverpool           Norwich     4     1
1    E0  10/08/2019  12:30        West Ham          Man City     0     5
2    E0  10/08/2019  15:00     Bournemouth  Sheffield United     1     1
3    E0  10/08/2019  15:00         Burnley       Southampton     3     0
4    E0  10/08/2019  15:00  Crystal Palace           Everton     0     0
..   ..         ...    ...             ...               ...   ...   ...
375  E0  26/07/2020  16:00       Leicester        Man United     0     2
376  E0  26/07/2020  16:00        Man City           Norwich     5     0
377  E0  26/07/2020  16:00       Newcastle         Liverpool     1     3
378  E0  26/07/2020  16:00     Southampton  Sheffield United     3     1
379  E0  26/07/2020  16:00        West Ham       Aston Villa     1     1

[380 rows x 7 columns]

In [36]:
df0_extracted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       380 non-null    object
 1   Date      380 non-null    object
 2   Time      380 non-null    object
 3   HomeTeam  380 non-null    object
 4   AwayTeam  380 non-null    object
 5   FTHG      380 non-null    int64
 6   FTAG      380 non-null    int64
dtypes: int64(2), object(5)
memory usage: 20.9+ KB

In [37]:
df2 = pd.read_csv(r'./staging_dir/raw_data/E2.csv')
df2.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,03/08/2019,15:00,AFC Wimbledon,Rotherham,1,2,A,0,1,...,1.72,0.25,1.88,1.98,1.84,2.06,1.95,2.04,1.88,1.96
1,E2,03/08/2019,15:00,Blackpool,Bristol Rvs,2,0,H,1,0,...,1.65,-0.50,2.02,1.83,2.06,1.84,2.09,1.87,2.03,1.82
2,E2,03/08/2019,15:00,Burton,Ipswich,0,1,A,0,1,...,1.69,-0.25,1.75,2.13,1.78,2.13,1.83,2.19,1.76,2.09
3,E2,03/08/2019,15:00,Coventry,Southend,1,0,H,0,0,...,1.81,-0.25,1.85,1.95,1.84,2.06,1.85,2.26,1.77,2.08
4,E2,03/08/2019,15:00,Doncaster,Gillingham,1,1,D,1,1,...,1.94,-0.50,1.93,1.93,1.96,1.94,1.97,1.96,1.92,1.91

In [38]:
df2_extracted = df2[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG']]
df2_extracted

    Div        Date   Time       HomeTeam        AwayTeam  FTHG  FTAG
0    E2  03/08/2019  15:00  AFC Wimbledon       Rotherham     1     2
1    E2  03/08/2019  15:00      Blackpool     Bristol Rvs     2     0
2    E2  03/08/2019  15:00         Burton         Ipswich     0     1
3    E2  03/08/2019  15:00       Coventry        Southend     1     0
4    E2  03/08/2019  15:00      Doncaster      Gillingham     1     1
..   ..         ...    ...            ...             ...   ...   ...
395  E2  07/03/2020  15:00     Sunderland      Gillingham     2     2
396  E2  10/03/2020  19:45      Blackpool        Tranmere     1     2
397  E2  10/03/2020  19:45    Bristol Rvs      Sunderland     2     0
398  E2  10/03/2020  19:45         Burton          Bolton     2     2
399  E2  10/03/2020  19:45     Portsmouth  Fleetwood Town     2     2

[400 rows x 7 columns]

In [39]:
df2_extracted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       400 non-null    object
 1   Date      400 non-null    object
 2   Time      400 non-null    object
 3   HomeTeam  400 non-null    object
 4   AwayTeam  400 non-null    object
 5   FTHG      400 non-null    int64
 6   FTAG      400 non-null    int64
dtypes: int64(2), object(5)
memory usage: 22.0+ KB

In [ ]:
import os
import pandas as pd

def transform_data(file_paths):
    columns = ['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']
    all_data = []

    for file_path in file_paths:
        df = pd.read_csv(file_path, usecols=lambda col: col in columns)
        
        # Add 'Time' column if it doesn't exist and fill with 'unknown'
        if 'Time' not in df.columns:
            df['Time'] = 'unknown'
        
        # Transform the date column to the correct format
        df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y', errors='coerce')
        
        # Clean the data: drop duplicates and fill missing values
        df.drop_duplicates(inplace=True)
        df.fillna({'Time': 'unknown'}, inplace=True)
        
        all_data.append(df)
    
    transformed_data = pd.concat(all_data, ignore_index=True)
    return transformed_data

def save_transformed_data(df, transformed_data_path):
    transformed_data_path = './staging_dir/transformed_data/transformed_data.csv'
    df.to_csv(transformed_data_path, index=False)


'''
def main():
    urls = [
        "https://www.football-data.co.uk/mmz4281/1920/E0.csv",
        "https://www.football-data.co.uk/mmz4281/1920/E2.csv",
        "https://www.football-data.co.uk/mmz4281/0203/E1.csv"
    ]
    
    # Directory for staging data
    staging_dir = './staging_dir/raw_data/'
    os.makedirs(staging_dir, exist_ok=True)

    # Download files
    file_paths = []
    for url in urls:
        file_name = url.split('/')[-1]
        file_path = os.path.join(staging_dir, file_name)
        download_data(url, file_path)
        file_paths.append(file_path)

    # Transform data
    transformed_data = transform_data(file_paths)
    
    # Save transformed data
    transformed_file_path = os.path.join(staging_dir, 'transformed.csv')
    save_transformed_data(transformed_data, transformed_file_path)
    
    # Load data into database (assuming you have implemented this function)
    load_data(transformed_file_path)

if __name__ == "__main__":
    main()
'''